<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>PNGSource</string>
	<key>CFBundleExecutable</key>
	<string>pngsource-darwin-10.12-arm64</string>
	<key>CFBundleIconFile</key>
	<string>pngsource.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.voilaweb.pngsource</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>PNGSource</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
          <dict>
            <key>CFBundleURLName</key>
              <string>Custom App</string>
            <key>CFBundleURLSchemes</key>
              <array>
                <string>pngsource</string>
              </array>
          </dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20211201.205724</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2021, CFR</string>
</dict>
</plist>
